<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(
        rel="stylesheet", 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", 
    )
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins")
    link(
        rel="stylesheet", 
        href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css"
    )

    link(rel="stylesheet", href="style.css")
    title Taylor Khan Resume
body
    .spacer.black-bg
    .row.black-bg
        .container
            .col-sm-2
                h1.font-weight-bold.boxed.text-center TK
    .row.black-bg.pad-btm
        .container
            .col-md-4
                p.lead.font-weight-bold HI, MY NAME IS TAYLOR KHAN
                p.lead.
                    I’ve been creating engaging web
                    designs for the past ten years and
                    have loved every minute of it.
                p.lead.
                    I love programming, strategy games,
                    and buffalo wings.

    .row.pad-top.vertical-align
        .container.border-btm
            .col-md-4
                h2.font-weight-bold WORK EXPERIENCE

    .row.pad-top
        .container
            .col-md-6
                p.lead.grey.italic PRESENT
                h3.font-weight-bold GENEVIEVE DIGITAL
                .col-md-6
                    ul
                        li UI / UX Design
                        li Frontend Coding
                        li Presenting Designs
                .col-md-6
                    ul
                        li Building APIs
                        li Mentoring Jr. Developer
                        li Deploying Websites
            .col-md-6
                p.lead.grey.text-align-right.italic 2017
                br
                p.
                    I currently work on Vecta Travel, a web-based
                    application that allows users to browse travel destinations
                    using an interactive map and filters results via tags. I work
                    directly with the CEO and CTO to ensure that Vecta meets the
                    needs of the company.
    .row.pad-top
        .container
            .col-md-6
                h3.font-weight-bold FREELANCE DEVELOPMENT
                .col-md-6
                    ul
                        li Prototyping
                        li Frontend Coding
                        li Wireframing
                .col-md-6
                    ul
                        li Website Maintenance
                        li Analytics Management
                        li User Flows
            .col-md-6
                p.lead.grey.text-align-right.italic 2007-2017
                p.
                    Designing websites and web apps using a variety of technologies.
                    Identifying and eliminating user experience pain-points. Communicating
                    strategies and options with client base.
    .row.pad-top
        .container.border-btm
            h2.font-weight-bold SKILLS
    .row.pad-top.text-center
        .container
            <i class="devicon-react-original"></i>
            <i class="devicon-nodejs-plain"></i>
            <i class="devicon-jquery-plain-wordmark"></i>
            <i class="devicon-rails-plain-wordmark"></i>
            <i class="devicon-mysql-plain-wordmark"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-bootstrap-plain"></i>
            <i class="devicon-photoshop-plain"></i>
            <i class="devicon-github-plain"></i>
            <i class="devicon-wordpress-plain-wordmark"></i>
            <i class="devicon-linux-plain"></i>
    .row.pad-top.text-center.pad-btm
        .container
            p.font-weight-bold 925.752.3969 | nelsonkhan@gmail.com | github.com/nelsonkhan