body
    color #222
    font-family 'Poppins'
    h1
        font-size 8rem

.black-bg
    background #222
    color white

.border-btm 
    border-bottom 2px solid #222

.boxed
    border 8px solid white
    margin-bottom 2rem
    padding 2rem

.font-weight-bold
    font-weight bold

i
    font-size 6rem
    padding-left 20px

.grey
    color #aaa

.italic
    font-style italic

.pad-btm 
    padding-bottom 5vh

.pad-top 
    padding-top 5vh

.spacer
    height 5vh

.text-align-right
    text-align right

.text-center
    text-align center


.vertical-align
    display flex
    align-items center
    flex-direction column